---
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import AboutSystem from "../components/AboutSystem.astro";
import CTA from "../components/CTA.astro";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Slider from "../components/Slider.astro";
import ServicesCard from "../components/ServicesCard.astro";
import CarouselServices from "../components/CarouselServices";

const features = [
	"✅ Creación, actualización y eliminación de usuarios.",
	"✅ Asignación y revocación de permisos de manera flexible.",
	"✅ Gestión de roles y control de acceso a distintas vistas.",
	"✅ Filtrado y exportación de información en formatos PDF y CSV.",
	"✅ Personalización del perfil con imagen y datos personales.",
];

const features2 = [
	"✅ Gestión completa de productos: Creación, modificación y eliminación de productos con sus respectivos datos e imagen identificativa.",
	"✅ roductos compuestos: Administración de productos que dependen de materiales para su elaboración, calculando automáticamente su costo de producción.",
	"✅ Control de stock: Registro de existencias en bodega y actualización en tiempo real.",
	"✅ Categorías y organización: Creación de categorías para agrupar productos de manera eficiente.",
	"✅ Órdenes y facturación: Generación de órdenes a partir de los productos disponibles, venta de productos y emisión de facturas.",
	"✅ Carrito de compras: Sistema de facturación basado en una selección de productos.",
	"✅ Disponibilidad y búsqueda: Filtros avanzados y buscador para localizar productos rápidamente.",
];

const features4 = [
	"✅ Creación y gestión de bodegas: Definición y administración de bodegas, con la posibilidad de crear tantas como se necesiten para diferentes tipos de productos y materiales.",
	"✅ Control de inventario por bodega: Registro y seguimiento de los productos y materiales almacenados en cada bodega, con detalles sobre lo que se está guardando.",
	"✅ Ubicación de productos: Organización de cada bodega en secciones específicas, para una gestión más eficiente del espacio y los productos.",
	"✅ Movimientos de materiales: Control total de las entradas y salidas de materiales y productos de la bodega, con historial detallado de los movimientos.",
	"✅ Actualización de bodegas: Posibilidad de registrar, modificar o eliminar bodegas conforme cambian las necesidades del sistema.",
];

const features5 = [
	"1) Módulo de Mesas:",
	"✅ Administración de mesas del local, permitiendo asignar mesas a órdenes de clientes.",
	"✅ Modificación de información de las mesas (estado, ubicación, etc.).",
	"✅ Consulta en tiempo real de las mesas disponibles para gestionar las órdenes de manera eficiente.",
	"2) Módulo de Métodos de Pago:",
	"✅ Creación y gestión de métodos de pago personalizados para el negocio.",
	"✅ Modificación y configuración de los métodos de pago según las necesidades del local.",
	"✅ Control total sobre las opciones de pago disponibles para los clientes.",
	"Módulo de Empresas de Domicilio:",
	"✅ Registro y gestión de empresas de domicilio asociadas al negocio.",
	"✅ Gestión de información de las empresas de reparto para realizar entregas de productos comprados por los clientes."
];


const features6 = [
	"✅ Selección de productos: Visualización de productos disponibles para escoger y agregar a la orden de venta.",
	"✅ Gestión de cantidades y precios: Selección de cantidades y visualización automática del valor total de la orden.",
	"✅ Creación de órdenes y ventas: Posibilidad de crear una orden con uno o más productos, facturar directamente un pedido o realizar una venta inmediata.",
	"✅ Selección de mesa y cliente: Opción de asociar la venta a una mesa (para restaurantes) y seleccionar el cliente correspondiente.",
	"✅ Métodos de pago: Elección de los métodos de pago disponibles y asociación a la venta.",
	"✅ Confirmación y facturación: Confirmación de la venta u orden y emisión de factura descargable en formato PDF.",
	"✅ Búsqueda avanzada de productos: Filtros por categoría para localizar productos fácilmente.",
	"✅ Control de stock: Verificación en tiempo real de los productos disponibles según la cantidad en stock y los materiales en bodega.",
];

const features7 = [
	"✅ Visualización de órdenes: Consulta del estado de cada orden, incluyendo mesa, cliente y productos asignados.",
	"✅ Detalles de pagos: Registro y visualización de las referencias de pago asociadas a cada orden.",
	"✅ Detalles de pagos: Registro y visualización de las referencias de pago asociadas a cada orden.",
	"✅ Facturación y descarga: Generación de facturas en formato PDF o CSV para cada orden realizada.",
	"✅ Búsqueda avanzada: Filtros por fecha, estado de la orden y otros criterios para localizar rápidamente cualquier pedido.",
	"✅ Gestión de estados: Posibilidad de cancelar o completar órdenes, realizando el pago correspondiente y facturando el pedido.",
	"✅ Control de pagos: Visualización detallada de los pagos realizados por cada orden y su estado."
];


---

<!-- <head>
  <title></title>
</head> -->
<Layout>
	<Navbar client:load />

	<Hero />
	<!-- <div class="flex gap-5 flex-wrap justify-center items-start my-40">
		<ServicesCard
			image="https://www3.gobiernodecanarias.org/medusa/ecoescuela/proyectoevagd/files/2017/09/usuarios.png"
			name="Módulo de Usuarios"
			description="Administra toda la información de los usuarios del sistema, incluyendo administradores, clientes y empleados. Implementa autenticación y autorización mediante roles y permisos, permitiendo definir qué acciones puede realizar cada usuario y qué secciones del sistema puede visualizar."
			items={features}
		/>
		<ServicesCard
			image="https://www.comparapps.com/wp-content/uploads/2022/02/sistemas-de-inventarios.png"
			name="Módulo de Productos"
			description="Permite gestionar toda la información de los productos, ya sean simples o compuestos, definiendo su costo de producción para establecer precios de venta adecuados."
			items={features2}
		/>

		<ServicesCard
			image="https://www.comparapps.com/wp-content/uploads/2022/02/sistemas-de-inventarios.png"
			name="Módulo de Materiales"
			description="Permite gestionar eficientemente los materiales utilizados en la producción de productos compuestos, asegurando un control preciso del inventario y su trazabilidad."
			items={features4}
		/>

		<ServicesCard
			image="https://www.comparapps.com/wp-content/uploads/2022/02/sistemas-de-inventarios.png"
			name="Módulo de Almacenamiento"
			description="Este módulo permite crear y gestionar bodegas para almacenar productos y materiales de manera organizada, asegurando un control detallado sobre el inventario y sus movimientos."
			items={features4}
		/>

		<ServicesCard
			image="https://www.comparapps.com/wp-content/uploads/2022/02/sistemas-de-inventarios.png"
			name="Módulo de Servicios"
			description="Este módulo integral gestiona diversas operaciones en un entorno comercial, compuesto por tres submódulos: mesas del local, métodos de pago y empresas de domicilio, para optimizar la experiencia tanto para el negocio como para los clientes."
			items={features5}
		/>


		<ServicesCard
			image="https://www.comparapps.com/wp-content/uploads/2022/02/sistemas-de-inventarios.png"
			name="Módulo de Venta de Productos"
			description="Este módulo permite gestionar de manera eficiente las ventas de productos, facilitando el proceso desde la selección de productos hasta la emisión de la factura."
			items={features6}
		/>

		<ServicesCard
			image="https://www.comparapps.com/wp-content/uploads/2022/02/sistemas-de-inventarios.png"
			name="Módulo de Órdenes o Pedidos"
			description="Este módulo permite gestionar todas las órdenes realizadas, ofreciendo un control completo del estado de las mismas, productos asignados, pagos y detalles adicionales."
			items={features7}
		/>
	</div> -->

	

	<CarouselServices client:load  />
	<Features />
	<AboutSystem />
	<div class="h-32 flex justify-center items-center">
		<Slider />
	</div>
	<Testimonials />
	<CTA />

	<div class="w-full h-screen bg-gradient-to-l from-[#8f94fb] to-[#4e54c8]">

	</div>
</Layout>
